[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shiny = "*"
matplotlib = "*"
pandas = "*"
duckdb = "*"
jinja2 = "*"
requests = "*"
folium = "*"
shinywidgets = "*"
ipyleaflet = "*"

[dev-packages]

[requires]
python_version = "3.12"
